#! /bin/bash

export DD_AGENT_MAJOR_VERSION=
export DD_API_KEY=
export DD_SITE=
export LOGGING_LEVEL_COM_AFITNERD_TNRA=
export LOGGING_LEVEL_ORG_APACHE_HTTP=
export LOGGING_LEVEL_ORG_APACHE_HTTP_WIRE=
export MAILGUN_KEY_PRIVATE=
export MAILGUN_KEY_PUBLIC=
export MAILGUN_URL=
export OKTA_OAUTH2_CLIENT=
export OKTA_OAUTH2_ISSUER=
export SPRING_DATASOURCE_USERNAME=
export SPRING_DATASOURCE_PASSWORD=
export SPRING_DATASOURCE_URL=
export SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
export SPRING_FLYWAY_BASELINE_VERSION=1
export TNRA_NOTIFY_SCHEDULE=
