target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.yml
!.github/workflows/*.yml
application.properties

.DS_Store
node_modules
node
*.sql
!src/main/resources/db/migration/*.sql

src/main/resources/public

nginx/.cert

.env

.vscode
generated
bundles
uploads
provision
emails
*.json
!groups.json.example
!keycloak/*.json
.gstack/
