target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.yml
application.properties

.DS_Store
node_modules
node
*.sql

src/main/resources/public

nginx/.cert

.env

.vscode
frontend
bundles
uploads
emails
*.json
