logging:
  level:
    org.springframework.security: DEBUG
    com.vaadin: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web: DEBUG
    org.springframework.web.servlet: DEBUG
