/* Main View Styles */

/* Title Styles */
.main-title {
    color: var(--lumo-primary-color);
}

.main-subtitle {
    color: var(--lumo-secondary-text-color);
}

/* Description Styles */
.main-description {
    text-align: center;
    max-width: 600px;
}

/* Welcome Message Styles */
.welcome-message {
    text-align: center;
}

/* Error Message Styles */
.error-message {
    color: var(--lumo-error-color);
    text-align: center;
} 